body {
  background-color: #8fc5ee;
}

h1 {
  font-size: 80px;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: underline;
  text-align: center;
  padding: 35px;
}

h3 {
  font-size: 30px;
  font-family: 'Trykker', serif;
  text-align: center;
  padding: 25px
}

#images {
  background-color: #40596b;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  margin: 50px;
}

img:hover {
  cursor: pointer;
}

#Chart {
  padding: 50px;
  height: 500px;
  width: 900px;
  margin: auto;
}

footer {
  font-family: 'Trykker', serif;
  text-align: right;
  font-weight: bold;
}